<div class="storyroom_edit_icon">
  <%= button_to storyroom_path(@storyroom), method: :delete, data: { confirm: 'Are you sure?' } do %>
    <i class="fa-regular fa-trash-can"></i>
  <% end %>
  <%= link_to edit_storyroom_path(@storyroom), method: :get do %>
    <i class="fa-regular fa-pen-to-square"></i>
  <% end %>
</div>

<div class="paragraphe_container">
  <h2>L'univers de <%= @storyroom.universe.title %></h2>
  <p><%= @storyroom.universe.description %></p>
</div>

<div class="paragraphe_container">
  <h2>Le synopsis du récit</h2>
  <p><%= @storyroom.storyroom_synopsis %></p>
</div>

<div class="universe_characters">
  <% if @storyroom.storyroom_characters.count == 1 %>
    <h2>Le personnage</h2>
  <% else %>
    <h2>Les personnages</h2>
  <% end %>
  <% @storyroom.storyroom_characters.each do | storyroom_character | %>
    <div class="universe_character selected">
      <div class="character_top">
        <div class="character_img" style="background-image: url(<%= storyroom_character.photo %>);">
        </div>
        <div class="character_info">
          <h3><%= storyroom_character.name %></h3>
          <p><em>"<%= storyroom_character.quotation %>"</em></p>
        </div>
      </div>
      <div class="character_description">
        <p><%= storyroom_character.background %></p>
      </div>
      <p>hello</p>
    </div>
  <% end %>
  </div>
<div class="paragraphe_container">
  <%= link_to new_storyroom_storyroom_character_path(@storyroom) do%>
    <i class="fa-solid fa-user-plus"></i>
  <% end %>
</div>
</div>
