<div class="universe_card">
  <h1>Bienvenue dans l'univers de <%= @title %>!</h1>
  <p><%= @universe.description %></p>
</div>

<div class="storyroom_newtail">
  <h2>Votre quête :</h2>
  <h2>Votre personnage :</h2>
  <h2>Nommez votre récit</h2>

  <%= form_for @storyroom do |f| %>
    <%= f.text_field :title %>
    <%= f.hidden_field :universe_id, value: @universe.id %>
    <%= f.submit "Valider" %>
  <% end %>
</div>
