
<h1>Welcome to <%= @title %></h1>
<p><%= @universe.description %></p>

<h2>sélection aléatoire parmis les mots disponibles</h2>
<% @words.each do |word| %>
  <p><%= word.title %></p>
<% end %>
<h3>Please, name your adventure</h3>

<%= form_for @storyroom do |f| %>
  <%= f.text_field :title %>
  <%= f.hidden_field :universe_id, value: @universe.id %>
  <%= f.submit "Send" %>
<% end %>
