<%= link_to storyrooms_path, class:"topbar_back_button" do %>
  <i class="fa-solid fa-angle-left"></i>
<% end %>

<div data-controller="storyroom" >
  <div class="storyroom_card" style="background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 75%), url(<%= @universe.photo %>);">
    <h2><%= @storyroom.title[0..50] %></h2>
    <p><%= @storyroom.universe.title %></p>
    <div class="storyroom_universe_btn">
      <button data-action="storyroom#showStory" data-storyroom-target="story_btn" class="selected" id="story-button"><i class="fa-regular fa-comment-dots"></i></button>
      <button data-action="storyroom#showLore" data-storyroom-target="lore_btn" id="lore-button"><i class="fa-solid fa-info"></i></button>
    </div>
  </div>

  <div data-storyroom-target="story" class="storyroom_story selected">
    <%= render'storyrooms/story' %>
  </div>

  <div data-storyroom-target="lore" class="storyroom_lore">
    <%= render'storyrooms/lore' %>
  </div>
</div>
