<h1><%= @universe.title %></h1>
<p><%= @universe.description %></p>

<h2>Les mots clés</h2>
<% @words.each do |word| %>
  <p><%= word.title %></p>
<% end %>

<h2>Les personnages à incarner</h2>
<% @characters.each do |character| %>
  <p><%= character.name %></p>
<% end %>

<h2><%= link_to 'Lancer l\'aventure!', new_storyroom_path(universe_id: @universe.id) %></h2>
